/* ===============
GALLERY STYlES
=============== */

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    display: flex;
    align-items: center;
    &__image {
      background-size: cover;
      background-position: center center;
      width: 200px;
      height: 200px;
    }
  }
}
